<!-----------------------Camera Information---------------------->
<section class="form-section" id="Camera">
  <h3>Camera Information</h3>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.megaPixel.$invalid && !phoneForm.megaPixel.$pristine }">
    <label for="megaPixel" class="cols-sm-2 form-label">Mega Pixel</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.megaPixel" name="megaPixel" id="megaPixel" required placeholder="12 MP" />
        <p ng-show="phoneForm.megaPixel.$invalid && !phoneForm.megaPixel.$pristine" class="help-block">Mega Pixel is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.pixelSize.$invalid && !phoneForm.pixelSize.$pristine }">
    <label for="pixelSize" class="cols-sm-2 form-label">Pixel Size</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.pixelSize" name="pixelSize" id="pixelSize" required placeholder="1.22µm" />
        <p ng-show="phoneForm.pixelSize.$invalid && !phoneForm.pixelSize.$pristine" class="help-block">Pixel Size is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.modes.$invalid && !phoneForm.modes.$pristine }">
    <label for="modes" class="cols-sm-2 form-label">Modes</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.modes" ng-list="," name="modes" id="modes" required ng-list="," placeholder="Modes of photography/videography (Panorama, Slow motion, Hyperlapse ...)" />
        <p ng-show="phoneForm.modes.$invalid && !phoneForm.modes.$pristine" class="help-block">Modes are required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.aperture.$invalid && !phoneForm.aperture.$pristine }">
    <label for="aperture" class="cols-sm-2 form-label">Aperture</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.aperture" name="aperture" id="aperture" required placeholder="Aperture with F stop (F1.7)" />
        <p ng-show="phoneForm.aperture.$invalid && !phoneForm.aperture.$pristine" class="help-block">Aperture is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.sensorSize.$invalid && !phoneForm.sensorSize.$pristine }">
    <label for="sensorSize" class="cols-sm-2 form-label">Sensor Size</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.sensorSize" name="sensorSize" id="sensorSize" required placeholder="sensor size in inches (1/3.6 in)" />
        <p ng-show="phoneForm.sensorSize.$invalid && !phoneForm.sensorSize.$pristine" class="help-block">Sensor Size is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.zoom.$invalid && !phoneForm.zoom.$pristine }">
    <label for="zoom" class="cols-sm-2 form-label">Zoom</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.zoom" name="zoom" id="zoom" required placeholder="8X" />
        <p ng-show="phoneForm.zoom.$invalid && !phoneForm.zoom.$pristine" class="help-block">Zoom is required.</p>
      </div>
    </div>
  </div> 
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.features.$invalid && !phoneForm.features.$pristine }">
    <label for="features" class="cols-sm-2 form-label">Camera Features</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.features" name="features" id="features" ng-list="," required placeholder="Optical Image Stabilization, Auto Focus ..." />
        <p ng-show="phoneForm.features.$invalid && !phoneForm.features.$pristine" class="help-block">Features are required.</p>
      </div>
    </div>
  </div>  
  <h3>Front Camera</h3>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.frontCamera.$invalid && !phoneForm.frontCamera.$pristine }">
    <label for="frontCamera" class="cols-sm-2 form-label">Front Camera</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.frontCamera" name="frontCamera" id="frontCamera" ng-list="," required placeholder="" />
        <p ng-show="phoneForm.frontCamera.$invalid && !phoneForm.frontCamera.$pristine" class="help-block">Front Camera is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.videoRecording.$invalid && !phoneForm.videoRecording.$pristine }">
    <label for="videoRecording" class="cols-sm-2 form-label">Video Recording</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.camera.videoRecording" name="videoRecording" id="videoRecording" ng-list="," required placeholder="720p HD at 30 fps, Video Digital Image Stabilization, Digital Zoom 8x" />
        <p ng-show="phoneForm.videoRecording.$invalid && !phoneForm.videoRecording.$pristine" class="help-block">Video Recording is required.</p>
      </div>
    </div>
  </div>
  <hr class="style7"> </section>
