<!-----------------------Connectivity Information---------------------->
<section class="form-section" id="Design">
  <h3>Connectivity Information</h3>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.wifi.$invalid && !phoneForm.wifi.$pristine }">
    <label for="wifi" class="cols-sm-2 form-label">Wi-Fi</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.connectivity.wifi" ng-list="," name="wifi" id="wifi" required placeholder="Wi-Fi (802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot ...)" />
        <p ng-show="phoneForm.wifi.$invalid && !phoneForm.wifi.$pristine" class="help-block">Wi-Fi is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.locationServices.$invalid && !phoneForm.locationServices.$pristine }">
    <label for="locationServices" class="cols-sm-2 form-label">Location Services</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.connectivity.locationServices" name="locationServices" id="locationServices" required placeholder="GPS, A-GPS ..." />
        <p ng-show="phoneForm.locationServices.$invalid && !phoneForm.locationServices.$pristine" class="help-block">Location Services are required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.bluetooth.$invalid && !phoneForm.bluetooth.$pristine }">
    <label for="bluetooth" class="cols-sm-2 form-label">Bluetooth </label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.connectivity.bluetooth" ng-list="," name="bluetooth" id="bluetooth" required placeholder="Bluetooth (5.0, A2DP, LE up to 2Mbps, aptX ...)" />
        <p ng-show="phoneForm.bluetooth.$invalid && !phoneForm.bluetooth.$pristine" class="help-block">Bluetooth is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.nfc.$invalid && !phoneForm.nfc.$pristine }">
    <label for="nfc" class="cols-sm-2 form-label">NFC</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.connectivity.nfc" ng-list="," name="nfc" id="nfc" required placeholder="Yes/No" />
        <p ng-show="phoneForm.nfc.$invalid && !phoneForm.nfc.$pristine" class="help-block">NFC is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.usb.$invalid && !phoneForm.usb.$pristine }">
    <label for="usb" class="cols-sm-2 form-label">USB</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.connectivity.usb" ng-list="," name="usb" id="usb" required placeholder="USB (3.1, Type-C 1.0 reversible connector ...)" />
        <p ng-show="phoneForm.usb.$invalid && !phoneForm.usb.$pristine" class="help-block">USB are required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.others.$invalid && !phoneForm.others.$pristine }">
    <label for="others" class="cols-sm-2 form-label">Others</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.connectivity.others" ng-list="," name="others" id="others" required placeholder="ANT+, EDGE ..." />
        <p ng-show="phoneForm.others.$invalid && !phoneForm.others.$pristine" class="help-block">Others are required.</p>
      </div>
    </div>
  </div>
  <hr class="style7"> </section>
