<!-----------------------Basic Information---------------------->
<section class="form-section" id="Basic">
  <h3>Basic Information</h3>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.phoneName.$invalid && !phoneForm.phoneName.$pristine }">
    <label for="phoneName" class="cols-sm-2 form-label">Phone Name</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.basicInfo.phoneName" name="phoneName" id="phoneName" required placeholder="Phone Name" />
        <p ng-show="phoneForm.phoneName.$invalid && !phoneForm.phoneName.$pristine" class="help-block">Phone Name is required.</p>
      </div>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : phoneForm.brandName.$invalid && !phoneForm.brandName.$pristine }">
    <label for="brandName" class="cols-sm-2 form-label">Brand Name</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.basicInfo.brandName" name="brandName" id="brandName" required placeholder="Brand Name" />
        <p ng-show="phoneForm.brandName.$invalid && !phoneForm.brandName.$pristine" class="help-block">Brand Name is required.</p>
      </div>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : phoneForm.releaseDate.$invalid && !phoneForm.releaseDate.$pristine }">
    <label for="releaseDate" class="cols-sm-2 form-label">Release Date</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.basicInfo.releaseDate" ng-list=","  name="releaseDate" id="releaseDate" required placeholder="Release Date im Mon DD YYYY format" />
        <p ng-show="phoneForm.releaseDate.$invalid && !phoneForm.releaseDate.$pristine" class="help-block">Release Date is required.</p>
      </div>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : phoneForm.additionalFeatures.$invalid && !phoneForm.additionalFeatures.$pristine }">
    <label for="additionalFeatures" class="cols-sm-2 form-label">Additional Features</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.basicInfo.additionalFeatures" ng-list="," name="additionalFeatures" id="additionalFeatures" required placeholder="Iris scanner, fingerprint" />
        <p ng-show="phoneForm.additionalFeatures.$invalid && !phoneForm.additionalFeatures.$pristine" class="help-block">Additional Features is required.</p>
      </div>
    </div>
  </div>

  <hr class="style7">
</section>
