<!-----------------------Multi Media Information---------------------->
<section class="form-section" id="Design">
  <h3>Multi Media Information</h3>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.audio.$invalid && !phoneForm.audio.$pristine }">
    <label for="audio" class="cols-sm-2 form-label">Audio</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.multimedia.audio" ng-list="," name="audio" id="audio" required placeholder="Type of Audio files supported (MP3, wav, ...)" />
        <p ng-show="phoneForm.audio.$invalid && !phoneForm.audio.$pristine" class="help-block">Audio is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.video.$invalid && !phoneForm.video.$pristine }">
    <label for="video" class="cols-sm-2 form-label">Video</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.multimedia.video" ng-list="," name="video" id="video" required placeholder="Type of Video files supported (MP4, mov, ...)" />
        <p ng-show="phoneForm.video.$invalid && !phoneForm.video.$pristine" class="help-block">Video is required.</p>
      </div>
    </div>
  </div>
  <hr class="style7"> </section>
