<!-----------------------Hardware Information---------------------->
<section class="form-section" id="Design">
  <h3>Hardware Information</h3>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.processor.$invalid && !phoneForm.processor.$pristine }">
    <label for="processor" class="cols-sm-2 form-label">Processor</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.hardware.processor" ng-list="," name="processor" id="processor" required placeholder="Octa-core, 2.3GHz Quad + 1.7GHz Quad, 64 bit, 10nm" />
        <p ng-show="phoneForm.processor.$invalid && !phoneForm.processor.$pristine" class="help-block">Processor is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.ram.$invalid && !phoneForm.ram.$pristine }">
    <label for="ram" class="cols-sm-2 form-label">RAM</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.hardware.ram" name="ram" id="ram" required placeholder="4GB with type of RAM" />
        <p ng-show="phoneForm.ram.$invalid && !phoneForm.ram.$pristine" class="help-block">RAM is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.graphicsProcessor.$invalid && !phoneForm.graphicsProcessor.$pristine }">
    <label for="graphicsProcessor" class="cols-sm-2 form-label">Graphics Processor</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.hardware.graphicsProcessor" name="graphicsProcessor" ng-list="," id="graphicsProcessor" required placeholder="Mali-G71 MP20 - EMEA" />
        <p ng-show="phoneForm.graphicsProcessor.$invalid && !phoneForm.graphicsProcessor.$pristine" class="help-block">Graphics Processor is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.internalstorage.$invalid && !phoneForm.internalstorage.$pristine }">
    <label for="internalstorage" class="cols-sm-2 form-label">Internal Storage </label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.hardware.internalstorage" name="internalstorage" id="internalstorage" required placeholder="Internal Storage Capacity (64GB)" />
        <p ng-show="phoneForm.internalstorage.$invalid && !phoneForm.internalstorage.$pristine" class="help-block">Internal Storage is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.storageexpansion.$invalid && !phoneForm.storageexpansion.$pristine }">
    <label for="storageexpansion" class="cols-sm-2 form-label">Storage Expansion</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.hardware.storageexpansion" ng-list="," name="storageexpansion" id="storageexpansion" required placeholder="External Storage size and type (up to 256 GB, microSD)" />
        <p ng-show="phoneForm.storageexpansion.$invalid && !phoneForm.storageexpansion.$pristine" class="help-block">Storage Expansion is required.</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : phoneForm.chipset.$invalid && !phoneForm.chipset.$pristine }">
    <label for="chipset" class="cols-sm-2 form-label">Chipset</label>
    <div class="cols-sm-10">
      <div>
        <input type="text" class="form-control" ng-model="formData.hardware.chipset" ng-list="," name="chipset" id="chipset" required placeholder="Chipset Name(Qualcomm MSM8998 Snapdragon 835)" />
        <p ng-show="phoneForm.chipset.$invalid && !phoneForm.chipset.$pristine" class="help-block">Chipset are required.</p>
      </div>
    </div>
  </div>
  <hr class="style7"> </section>
